<?php

use App\Di\ContainerBuilder;
use App\Di\Options;

return function (ContainerBuilder $builder): void {
    $builder
        ->setEnv('dev')
        ->setDebug(true)
        ->set(Options::GREET_YELL, true)
    ;
};
